root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  args_bin = []
  bin = "./tmp/main"
  cmd = "./build.sh"
  delay = 1000
  exclude_dir = ["assets", "tmp", "vendor", "testdata", "web/dist", "web/lib/proto"]
  exclude_file = []
  exclude_regex = ["_test.go", ".pb.go", ".connect.go", "vite.config.js.timestamp", "_pb.ts", "_connect.ts"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = []
  include_ext = ["tpl", "tmpl", "html", "js", "ts", "svelte", "proto", "go"]
  include_file = []
  kill_delay = "1s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = []
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true
